<!-- <h1>Header</h1> -->
<!-- header.ejs -->
<header class="header">
    <a href="/" class="header_logo">
        Admin Panel
    </a>
    <nav class="header_nav">
        <ul>
            <li>
                <a href="/" class="">Home</a>
                <a href="/about" class="">About</a>
                <a href="/contact" class="">Contact</a>
            </li>
        </ul>
    </nav>
    <div class="header_button">
        <button>
            Log Out
        </button>
    </div>
</header>