<!-- <h1>Home</h1> -->
<div class="author">
    <h1 class="author_heading">Hi, I am Rumi</h1>
    <p class="author_body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga cumque earum optio!</p>

</div>

<img src="/img/hero_image.webp" alt="Rumi" class="hero_image" width="981" height="528">
<section class="articles">
    <h2 class="articles_heading">Latest Post</h2>
    <ul class="article_ul">
        <li>
            <a href="#">
                <span>Post Title</span>
                <span class_list_date>Date</span>
            </a>
        </li>
    </ul>
    <a href="#" class="pagination"> &lt; View Older Posts</a>
</section>